#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=2.0.0
Name=HashDB
GenericName=ForensicTool
Comment=hashdb command-line tool
Terminal=true
Icon=/usr/share/icons/Humanity/apps/128/terminal.svg
Exec=run-hashdb.sh
